body {
	margin: 0;
	overflow: hidden;
	background-color: #000000;
	color: #fff;
	font-family: Arial, sans-serif;
}

#welcome-screen {
	text-align: center;
	margin-top: 200px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#instructions-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
	background-color: #fff;
	color: #000;
	margin: 10% auto;
	padding: 20px;
	width: 50%;
	text-align: left;
}

#game-container {
	display: none;
}

#debug-stats {
	background-color: #000;
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #00ff00;
	opacity: 0.5;
	padding: 20px;
	border-radius: 10px;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
}

#game-tally {
	display: none;
	position: absolute;
	width: 100px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: #00000077;
	padding: 10px;
	border-radius: 10px;
	color: #00ff00;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: bold;
}

.tank-icon {
	width: 25%;
	height: auto;
	vertical-align: middle;
}

#tank1-stats {
	color: #00ff00;
}

#tank2-stats {
	color: #00ff00;
}

#instructions-modal {
	display: none;
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #34db3c;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
